:root {
    --color-bg-start: #000;
    --color-bg-end: #0f0;
    --default-timeout: 3s;
    --reset-time: 1s;
}

html, body {
    overscroll-behavior: none;
    overflow: hidden;
    position: relative;
    height: 100%;
    margin: 0;
    transition: var(--reset-time);
    background-color: var(--color-bg-start);
    color: #0f0;
}

a:link, a:visited {
    color: #0f0;
}

.finger {
    position: absolute;
    background-color: #0f0;
    
    animation: breathe 1s infinite alternate;
}

.not-chosen {
    transition: var(--reset-time);
    background-color: #f00;
}

.timer-running {
    transition: var(--default-timeout);
    background-color: var(--color-bg-end);
}

.timer-reset {
    transition: 0s;
    background-color: var(--color-bg-start);
}

@keyframes breathe {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(0.9);
    }
  }